NODE_ENV=production
APP_TARGET=api
PORT=3000
LOG_LEVEL=info
DATABASE_URL=postgres://{{ onboarding_platform_db_user | urlencode }}:{{ onboarding_platform_db_password | urlencode }}@{{ hostvars[groups['db'][0]]['private_ip'] }}:5432/{{ onboarding_platform_db_name }}
REDIS_URL=redis://{{ hostvars[groups['worker'][0]]['private_ip'] }}:6379
QUEUE_NAME=client-provisioning
JWT_SECRET={{ onboarding_platform_jwt_secret }}
BCRYPT_COST_FACTOR=12
PORTAL_BASE_URL={{ onboarding_platform_portal_base_url }}
CORS_ALLOWED_ORIGINS={{ onboarding_platform_cors_origins }}
