region       = "us-east-1"
project_name = "onboarding-platform"
environment  = "lab"

vpc_cidr            = "10.0.0.0/16"
public_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidr = "10.0.11.0/24"

instance_type   = "t2.micro"
ebs_volume_size = 30

allowed_http_cidrs = ["0.0.0.0/0"]

tags = {
  Owner = "achille"
}
